body
{
    background: url('images/gamebackground.jpg');
    background-repeat: no-repeat;
    background-size:cover;  
    
    
}
.log
{
    
    font-family: 'Trebuchet MS';
    color: white;
}
#timer
{
    font-size: 35px;
}
.mainbasket
{
    position: absolute;
    bottom: 5%;
    left: 50%;
}